
*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
}

body {
    background-image: url('../head/img/fondo4.jpg');
    background-attachment: fixed;
}

.header {
    background-color:  #301c09f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
    background: none;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
    background: none;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform:  scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: white;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: white;
}

.header .btn button {
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 9px 25px;
    background-color:white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: rgb(126, 88, 62);
    color: white;
    transform: scale(1.1);
}

.popu {
    margin-left: 100%;
    padding: 0%;
}

.bigone {    

    justify-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
    margin-top: 3%;
    margin-left: 850px;
    background-color:#301c09f8;
    color: white;
    font-size: x-large;
    width: 400px;
    padding: 9px 25px;
    border-radius: 50px;
    border: none;

      }
      
      

.botonlogo {
    background: none;
    border: none;
}

p{
  font-size: 15px;

}

.product {
    display: inline-block;
    text-align: center;


}
.product img {
    width: 300px; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: 400px;
    border-radius: 10px; /* Añade esquinas redondeadas a la imagen */
    padding: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-left: 40%;
  
}


.product img:hover{
    transform: scale(1.1);
    cursor: pointer;
 
}

.try {
    text-decoration: none;
    color: white;
    
}
