
*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: white;
}

.header {
    background-color:#362718f8;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform:  scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: white;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: rgb(255, 255, 255);
}

.header .btn button {
    font-size: 15px;
    color: white;
    padding: 9px 25px;
    background-color: rgb(65, 54, 66);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: rgb(255, 255, 255);
    color: white;
    transform: scale(1.1);
}


body {
    background-image: url('../head/img/fondo2.jpg');
}

.form-terminos {
    width: 700px;
    background: #362718f8;
    padding: 30px;
    margin-left: 32%;
    border-radius: 4px;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #d4d0ba;
    border-radius: 20px;
    margin-top: 130px;
}


.controls {
    width: 100%;
    background: #6e5e4c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 2px solid #2e261d;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
}

li {
    
    line-height: 20px; 
    margin: 10px;
    padding: 0px;
    font-size: 14px;
    font-family: sans-serif;
}
.popu {
    margin-left: -22%;
    padding: 0%;
}
.form-terminos h1 {
    font-size: 16px;
    margin-left: 1%;
    font-family: sans-serif;
    color: #ddd2b5;
}

.form-terminos h4 {
    font-size: 26px;
    margin-bottom: 20px;
    margin-left: 30%;

}

.form-terminos p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    margin-left: 20%;
}

.form-terminos a {
    color: white;
    text-decoration: none;
}

.form-terminos a:hover {
    color: white;
    text-decoration: underline;
}

.botonlogo {
    background-color: #1b3039;
    border: none;
    background: none;
}

p {
    width: 60%;
    background:    #7e6345;
    border: none; 
    color: white;
    margin-left: 110px;
    font-size: 16px;
    border-radius: 50px;
    font-weight: bold;
} 

.footer {
    position: fixed; /* Fija las imágenes en la parte inferior de la ventana del navegador */
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; /* Centra las imágenes horizontalmente */
    padding: 20px 0; /* Espaciado entre las imágenes y el borde inferior */
    background: #362718f8;
  }

