*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color:  #301c09f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 5px 10%;
}

.popu {
    margin-left: -230%;
    padding: 0%;
}


.header .logo {
    cursor: pointer;
    background: none;
}

h1 {
    font-family: "Bahnschrift Light", sans-serif;
    font-size: 12px
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
    background: none;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform:  scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: white;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: white;
}

.header .btn button {
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 9px 25px;
    background-color:white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: rgb(126, 88, 62);
    color: white;
    transform: scale(1.1);
}

.botonlogo {
    background:none;
    border: none;
}

body {
    background-image: url('../head/img/fondo4.jpg');
    background-attachment: fixed;
}
